body {
	background-color: #ff006a;
}


hl{
	color: aliceblue;
	text-align: center;
	font-size: 2cm;
}
h2{
	   color: #ffee00;
font-size: 1cm;
}

#imagem{
	weidth: 40px;
	height: 15px;
	border:3px solid black

}
.itens{
	  font-style: normal;
	  font-size: 1%;
	  text-align: center;
}
	text-align: center
#imagem2{
	  widht:50
}
